<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean Definition -->
    
    <!--<bean id="printingMachine" class="com.thanmayee.springcontainerdemo.PrintingMachine" scope="prototype">
    	<property name="id" value="101"/>
    	<property name="paperTray" ref="paperTray"/>  Injecting PaperTray 
    </bean>-->
    
    <!--<bean id="printingMachine" class="com.thanmayee.springcontainerdemo.PrintingMachine" scope="prototype">
        <constructor-arg value="101"/>
        <constructor-arg ref="paperTray"/>  Injecting PaperTray 
    </bean>-->
	
	<bean id="paperTray" class="com.thanmayee.springcontainerdemo.PaperTray">
        <property name="capacity" value="250"/>
    </bean>
    
    <!-- AutowireExample -->
    <!-- autowire="constructor" tells Spring to match the constructor parameters of PrintingMachine with available beans (paperTray and computer). -->
    <bean id="printingMachine" class="com.thanmayee.springcontainerdemo.PrintingMachine" scope="prototype" autowire="constructor">
    </bean>

	 <bean id="laptop" class="com.thanmayee.springcontainerdemo.Laptop" primary="true"/>
	
	 <bean id="desktop" class="com.thanmayee.springcontainerdemo.Desktop"/>
</beans>
